/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/.idea
/.gitattributes


docker-compose.override.yml

/appdata/app/design
/appdata/app/etc
/appdata/app/.htaccess
/appdata/app/autoload.php
/appdata/app/bootstrap.php
/appdata/app/functions.php

/appdata/setup
/appdata/.php_cs
/appdata/lib
/appdata/.htaccess
/appdata/CONTRIBUTING.md
/appdata/.htaccess.sample
/appdata/composer.json
/appdata/LICENSE_AFL.txt
/appdata/vendor
/appdata/Gruntfile.js.sample
/appdata/CHANGELOG.md
/appdata/.user.ini
/appdata/bin
/appdata/.travis.yml
/appdata/COPYING.txt
/appdata/update
/appdata/index.php
/appdata/.gitignore
/appdata/ISSUE_TEMPLATE.md
/appdata/composer.lock
/appdata/phpserver
/appdata/pub
/appdata/LICENSE.txt
/appdata/dev
/appdata/var
/appdata/nginx.conf.sample
/appdata/package.json.sample
/appdata/php.ini.sample